<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>EcodifJSF</display-name>
	<welcome-file-list>
		<welcome-file>pages/public/index.xhtml</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>/faces/*</url-pattern>
		<url-pattern>*.jsf</url-pattern>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>

	<!-- Error pages -->
	<error-page>
		<error-code>400</error-code>
		<location>/pages/public/defaulterrorpage.xhtml</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/pages/public/defaulterrorpage.xhtml</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/pages/public/defaulterrorpage.xhtml</location>
	</error-page>

	<!-- PrimeFaces -->
	<filter>
		<filter-name>PrimeFaces FileUpload Filter</filter-name>
		<filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>PrimeFaces FileUpload Filter</filter-name>
		<servlet-name>Faces Servlet</servlet-name>
	</filter-mapping>


	<!-- Context parameters LINUX -->
	<context-param>
		<param-name>DriversDirectory</param-name>
		<param-value>/home/Ecodif_Files/Drivers/</param-value>
	</context-param>
	<context-param>
		<param-name>Wrnp_Schedule</param-name>
		<param-value>/home/Ecodif_Files/WRNP_Ecodif/wrnp_schedule.xml</param-value>
	</context-param>
	<context-param>
		<param-name>ApplicationsDirectory</param-name>
		<param-value>/home/andreza/Ecodif_Files/Applications/</param-value>
	</context-param>
	<context-param>
		<param-name>EMMLDefaultFile</param-name>
		<param-value>/home/andreza/Ecodif_Files/Applications/default.emml</param-value>
	</context-param>
	<context-param>
		<param-name>EMMLSchema</param-name>
		<param-value>/home/andreza/jboss-6.1.0.Final/server/default/deploy/emml.war/WEB-INF/schemas/EMMLSpec.xsd</param-value>
	</context-param>
	<context-param>
		<param-name>EMMLEnginePath</param-name>
		<param-value>/home/andreza/jboss-6.1.0.Final/server/default/deploy/emml.war/WEB-INF/classes/</param-value>
	</context-param>
	<context-param>
		<param-name>EMMLEngineURL</param-name>
		<param-value>http://localhost:8080/emml/</param-value>
	</context-param>
	<context-param>
		<param-name>AddressPortal</param-name>
		<param-value>http://www.ecodif.com.br</param-value>
	</context-param>

	<!-- Context parameters Windows <context-param> <param-name>DriversDirectory</param-name> 
		<param-value>C:\EcodifDrivers\</param-value> </context-param> <context-param> 
		<param-name>ApplicationsDirectory</param-name> <param-value>C:\EcodifApplications\</param-value> 
		</context-param> <context-param> <param-name>EMMLDefaultFile</param-name> 
		<param-value>C:\EcodifApplications\default.emml</param-value> </context-param> 
		<context-param> <param-name>EMMLSchema</param-name> <param-value>C:\jboss-6.1.0.Final\server\default\deploy\emml.war\WEB-INF\schemas\EMMLSpec.xsd</param-value> 
		</context-param> <context-param> <param-name>EMMLEnginePath</param-name> 
		<param-value>C:\jboss-6.1.0.Final\server\default\deploy\emml.war\WEB-INF\classes</param-value> 
		</context-param> <context-param> <param-name>EMMLEngineURL</param-name> <param-value>http://localhost:8080/emml/</param-value> 
		</context-param> <context-param> <param-name>AddressPortal</param-name> <param-value>http://localhost:8080</param-value> 
		</context-param> -->

	<!-- Protected area definition -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Restricted Area - FABRICANTE_DISPOSITIVO Only</web-resource-name>
			<url-pattern>/pages/protected/fabdisp/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>FAB_DISP</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Restricted Area - PROVEDOR_DADOS Only</web-resource-name>
			<url-pattern>/pages/protected/provdados/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>PROV_DADOS</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Restricted Area - DESENVOLVEDOR_APLICACOES Only</web-resource-name>
			<url-pattern>/pages/protected/devapp/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>DEV_APP</role-name>
		</auth-constraint>
	</security-constraint>

	<!-- Login page -->
	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/pages/public/testlogin.xhtml</form-login-page>
			<form-error-page>/pages/public/loginerror.xhtml</form-error-page>
		</form-login-config>

	</login-config>

	<!-- System roles -->
	<security-role>
		<role-name>FAB_DISP</role-name>
	</security-role>
	<security-role>
		<role-name>PROV_DADOS</role-name>
	</security-role>
	<security-role>
		<role-name>DEV_APP</role-name>
	</security-role>
	<security-role>
		<role-name>PROV_DADOS_WRNP</role-name>
	</security-role>

	<!-- Primefaces -->
	<context-param>
		<param-name>primefaces.THEME</param-name>
		<param-value>bootstrap</param-value>
	</context-param>

	<context-param>
		<param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
		<param-value>true</param-value>
	</context-param>

</web-app>